*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $primary;
    font-family: 'Roboto Mono', monospace;
    &.modalOpen{
        header, main{
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 70px;
    text-transform: uppercase;
    color: $primary-light;
}

p{
    font-size: 28px;
    color: $primary-light;
    margin-bottom: 4rem;
}

button{
    background-color: $secondary;
    border-color: $secondary;
    font-size: 25px;
    color: #2F2E41;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}


@media (min-width: 1200px){
    .container{
        max-width: 1350px;
    }

    .col-left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }

    .col-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

}

.d-none{
    display: none !important;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
